name: Build and Push to Dockerhub

on:
  push:
    branches: [ "master" ]
#  schedule:
#    - cron: '0 1 * * *'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}
    
      - name: Install Buildx
        id: buildx
        uses: docker/setup-buildx-action@master
          
      - name: Get Current Date # get the date of the build
        id: date
        run: echo "date=$(date +'%Y-%m-%d--%M-%S')" >> "$GITHUB_OUTPUT"

      - name: Build & Push - Latest
        run: |
          docker buildx build --squash --push \
          -t mrlolf/honeygainautoclaim:${{ steps.date.outputs.date }} \
          -t mrlolf/honeygainautoclaim:latest \
          --platform linux/amd64,linux/arm64 .
